{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": [
        "*.css"
      ],
      "options": {
        "parser": "css",
        "singleQuote": false,
        "printWidth": 150
      }
    }
  ]
}
